<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Covid 19 detection</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery.min.js"></script>
    <style>
        .portfolio-block {
            padding-top: 0px;
        }

        .btn {
            width: 50%;
        }

        div .container {
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Covid 19 detection</a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link"
                            href="https://www.linkedin.com/in/azaria-gebremichael/">Azaria</a></li>
                </ul>
            </div>
        </div>
        <script src="../static/js/main.js"></script>
    </nav>
    <main class="page landing-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <!-- <div class="avatar" style="background-image:url(&quot;static/img/avatars/avatar.jpg&quot;);"></div> -->
                <div class="container">
                    It is critical to detect the positive cases as early as possible so as to prevent the further spread
                    of this pandemic and to quickly treat affected patients. The need for auxiliary diagnostic tools has
                    increased as there are no accurate automated toolkits available.

                    Even with glimpses of hope for a cure countries in Africa(more than 1.2 billion) people dont know
                    when they'll get it, leaving dark days still ahead.

                    Covid-19 has resulted in countless numbers of lives lost, ruining multiple businesses all over the
                    world and disrupting the global economy.

                    Recent findings obtained using radiology imaging techniques suggest that such images contain salient
                    information about the COVID-19 virus. Thus we are here trying to prove that using x-ray images we
                    can show whether or not someone has covid and the fact that they will be intubated, and go to the
                    intensive care unit to receive treatment afterwards.
                </div>
                <p>


                <div class="container">
                    <h4>Important Links</h4>
                    <a
                        href="https://github.com/Azariagmt/covid19-detection-using-x-ray-images/blob/master/notebooks/binary-classification.ipynb"><b>Link</b></a>
                    to Binary-classification model notebook <br />
                    <a
                        href="https://github.com/Azariagmt/covid19-detection-using-x-ray-images/blob/master/notebooks/multiclass-classification.ipynb"><b>Link</b></a>
                    to Multiclass-classification model notebook

                </div>
                </p>
                <p>
                <div class="container">
                    <h4>other Links</h4>
                    <a href="https://github.com/ieee8023/covid-chestxray-dataset"><b>Link</b></a>
                    covid dataset by @cohen<br />
                    <a href="https://github.com/Azariagmt/covid19-detection-using-x-ray-images"><b>Link</b></a>
                    Github repo

                </div>
                </p>
                <div id="try" class="container">
                    <div id="content" style="margin-top:2em" class="clearfix">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#" style="font-size: 17px;">copyright@2020 all rights reserved</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i
                        class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/js/theme.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>